
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    position: relative;
    width: 3000px;
    height: 1000px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .left{
    background-color:goldenrod;
    padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.profile .imgbox{
    position:relative;
    width: 200px;
    height: 200px;
}

.profile .imgbox img {
top:0;
left:0;
width:100%;
height: 100%;
border-radius: 50%;

}

.profile h2{
    color: black;
    font-size: 18px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
}

.profile h2 span {
    font-size: 14px;
    font-weight: 300;
}

.contact{padding-top: 20px;
    }

.title{
    color:dimgray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.contact ul{position: relative;
}

.contact ul li{ 
    position: relative;
list-style:none;
margin: 10px 0;
}

.contact ul li span{
    color:aliceblue;
}

.skills{padding-top: 20px;
}

.skills ul{position: relative;
}

.skills ul li{ 
position: relative;
margin: 10px 0;
list-style:circle;}

.skills ul li span{
color:aliceblue;
font-weight:bold;
}


.languages{padding-top: 20px;
}

.languages ul{position: relative;
}

.languages ul li{ 
position: relative;
list-style:circle;
margin: 10px 0;
}

.languages ul li span{
color:aliceblue;
font-weight:bold;
}


.container .right{
    position: relative;
    background-color: white;
    padding: 40px;
}

.profiletitle1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: goldenrod;
    font-weight: bold;
}

.profiletitle2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 20px;
    color: goldenrod;
    font-weight: bold;
}

.profiletitle3{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: goldenrod;
    font-weight: bold;
}
.profiletext p{
    font-size: 16px;
    color: dimgray;
    text-justify: auto;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin:20px 0;
}

.about .box .years{
    min-width: 150px;
}

.about .box .years h5{
    font-size: 16px;
}

.about .box .years h3{
    font-size: 12px;
}

.about .box .profiletext h4{
    color: rgb(103, 170, 214);
}

.about .box .profiletext p{
    margin-top:10px;
    line-height: 30px;
    font-size: 14px;
}