*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Source Sans Pro",Arial,sans-serif;
  color: black;
}

.header{
  height: 100v;
}
main{
  height: 100vh;}

.navbar-style{
  box-shadow: 0 5px 10px gray;
}

.logo{
  width: 100px;
  cursor: pointer;

}

.dropbtn {
  background-color: #0056d2;
  color: white;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

input[type=text] {
  float: left;
  padding: 6px;
  border: 1px solid black;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}

.icon-bar{
  background: #0056d2;
}

li a{
  color:black;
  font-size: 12px;
}

a.btn-nav{
  width: 100px;
  height: 40px;
  margin-top: 5px;
  background-color: #0056d2;
color: white;
font-size: 12px;
border-radius: 2px;
border: none;
}

.big-text{
  margin-top: 100px;
  font-weight: bold;
  font-size: 50px;
}

p{
font-size: 18px;
letter-spacing: 1px;
line-height: 25px;
font-weight: bold;
}

a.btn-first{
width: 200px;
height: 70px;
border: 0;
font-size: 20px;
font-weight: bold;
border-radius: 5px;
color: white;
background-color: #0056d2;
cursor: pointer;

}

a.btn-second{
  background: transparent;
  width: 350px;
  height: 70px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-color:  #0056d2;
    color: #0056d2;
    cursor: pointer;
}

a.btn:hover{
  transition: .5s;
}

.banner-info, .banner-image{
  margin: 30px 0;
}

.banner-image img{
  width: 400px;
    height: 400px;
}



.collaboration{
  margin-top: 100px;
  width:100%;
  height: 400px;
  background-color:aliceblue;
 }

 .collaboration h1{
  text-align: center;
  margin:auto;
  padding: 50px;
  font-size: 30px;
  text-decoration: none;
 }


.col-md-3 img{
  width: 100px;
}

.join{
  margin-top: 100px;
}




@media screen and (max-width: 600px) {
   input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;
  }
}